.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store

._*

# dirs
data/
documentation/
manuscript/
meetings/
models/
musti-analysis/
output/
output-markdown/
paper-backing/
plots/
reports/
scripts/bestageing/
scripts/old/
scripts_py/
shinyapp/
survival_spooner/
test/
